<CascadingBlazoredModal Position="ModalPosition.Middle" Size="ModalSize.Medium" HideHeader="true" DisableBackgroundCancel="true" AnimationType="ModalAnimationType.FadeInOut">
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">

        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">

            <Authorizing>
                <p>Autorizando...</p>
            </Authorizing>

            <NotAuthorized>
                <div class="row " style="height:100vh ">
                    <div class="d-flex justify-content-center align-items-center text-danger">
                        <h3>No estas autorizado para ver este contenido...</h3>
                    </div>
                </div>
            </NotAuthorized>

        </AuthorizeRouteView>

        <FocusOnNavigate RouteData="@routeData" Selector="h1" />

    </Found>

    <NotFound>
        
        <CascadingAuthenticationState>
            <PageTitle>No encontrado</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">

                <div class="row " style="height:100vh ">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="img/page404.png" width="300" />
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <h2 class="text-danger" role="alert">Lo sentimos no hay nada en esta ruta.</h2>
                    </div>
                </div>

            </LayoutView>
        </CascadingAuthenticationState>

    </NotFound>

</Router>
</CascadingBlazoredModal>