@page "/accounts/register"
@inject IRepository repository
@inject SweetAlertService swal
@inject NavigationManager navigationManager
@inject ILoginService loginService


<EditForm Model="userDTO" OnValidSubmit="CreateUserAsync">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">

            <div class="d-flex justify-content-between align-items-center">
                
                <span>
                    Registrar Nuevo  Usuario
                </span>

                <div style="display: flex;  align-items: center;">
                    <div class="mx-1">
                        <button class="btn btn-sm btn-outline-primary me-2" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
                                <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z" />
                                <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z" />
                            </svg>
                             Registrar
                            </button>
                        <button class="btn btn-sm btn-outline-success float-end" @onclick="Return">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                            </svg>
                             Regresar
                            </button>
                    </div>
                </div>

            </div>



        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label>Nombres:</label>
                        <div>
                            <InputText class="form-control" @bind-Value="@userDTO.FirstName" />
                            <ValidationMessage For="@(() => userDTO.FirstName)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Apellidos:</label>
                        <div>
                            <InputText class="form-control" @bind-Value="@userDTO.LastName" />
                            <ValidationMessage For="@(() => userDTO.LastName)" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label>Teléfono:</label>
                        <div>
                            <InputText class="form-control" @bind-Value="@userDTO.PhoneNumber" />
                            <ValidationMessage For="@(() => userDTO.PhoneNumber)" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label>Email:</label>
                        <div>
                            <InputText class="form-control" @bind-Value="@userDTO.Email" />
                            <ValidationMessage For="@(() => userDTO.Email)" />
                        </div>
                    </div>
                </div>
                <div class="col-6">

                    <label>Tipo Usuario:</label>
                    <div>
                        <select class="form-select" @onchange="UserTypeChanged">
                            <option value="-1">-- Seleccione un Tipo de Usuario --</option>
                            <option value=0>Administrador</option>
                            <option value=1>Inventario</option>
                            <option value=2>Venta</option>
                        </select>
                    </div>


                    <div class="mb-3">
                        <label>Contraseña:</label>
                        <div>
                            <InputText type="password" class="form-control" @bind-Value="@userDTO.Password" />
                            <ValidationMessage For="@(() => userDTO.Password)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Confirmación de contraseña:</label>
                        <div>
                            <InputText type="password" class="form-control" @bind-Value="@userDTO.PasswordConfirm" />
                            <ValidationMessage For="@(() => userDTO.PasswordConfirm)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</EditForm>

@code {
    private UserDTO userDTO = new();

    private void UserTypeChanged(ChangeEventArgs e)
    {
        if (Convert.ToInt32(e.Value!) == 0)
        {
            userDTO.UserType = UserType.Admin;
        }
        if (Convert.ToInt32(e.Value!) == 1)
        {
            userDTO.UserType = UserType.Inventory;
        }
        if (Convert.ToInt32(e.Value!) == 2)
        {
            userDTO.UserType = UserType.Sale;
        }
    }

    private async Task CreateUserAsync()
    {
        if (Convert.ToInt32(userDTO.UserType) < 0 || userDTO.UserType == null)
        {
            await swal.FireAsync("Error", "Debes elegir un Tipo de Usuario", SweetAlertIcon.Error);
            return;
        }

        userDTO.UserName = userDTO.Email;
        userDTO.Active = true;
        var responseHttp = await repository.Post<UserDTO>("/api/accounts/CreateUser", userDTO);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await swal.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        var toast = swal.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.Center,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await swal.FireAsync("Confirmación", "Su cuenta ha sido creada con éxito. Se te ha enviado un correo electrónico con las instrucciones para activar tu usuario.", SweetAlertIcon.Info);
        navigationManager.NavigateTo("/users");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/users");
    }
}
